// ? цвета
/* purgecss ignore */
:root 
	--base-text-color: #212529;
	--header-bg: #007bff;
	--header-text-color: #fff;
	--default-btn-bg: #007bff;
	--default-btn-text-color: #fff;
	--default-btn-hover-bg: #0069d9;
	--default-btn-border-color: #0069d9;
	--danger-btn-bg: #dc3545;
	--danger-btn-text-color: #fff;
	--danger-btn-hover-bg: #bd2130;
	--danger-btn-border-color: #dc3545;
	--input-border-color: #ced4da;
	--input-bg-color: #fff;
	--input-text-color: #495057;
	--input-focus-bg-color: #fff;
	--input-focus-text-color: #495057;
	--input-focus-border-color: #80bdff;
	--input-focus-box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
