/* purgecss ignore */
body
	margin: 0
	padding: 0
	font-family: 'Montserrat'
	font-size: 16px
	line-height normal
	min-width: 320px
	background-color: var(--bg)
	overflow-x: hidden
	position: relative
	display: flex
	flex-direction: column



a
	text-decoration: none
	color: var(--link)
	transition .2s
	outline-hide()

button
	transition: .2s
	padding 0
	outline-hide()
	
input::placeholder
	color: var(--ltext)

textarea::placeholder
	color: var(--ltext)

input,textarea 
	outline: none

img 
	display: block
	max-width: auto
	width: 100%
	height: auto

	// *---------------------

.a
	position: fixed
	top: 0
	left: 0
	right: 0
	margin 0 !important
	z-index: 1



.news-container .card-title 
	background: rgba(0, 0, 0, 0.7)


.my
	height auto !important

.news-container .grid-container 
	display: grid
	grid-template-columns: 1fr 1fr 1fr
	grid-auto-flow: dense
	@media mqTablet 
		grid-template-columns: 1fr !important

.card
	height 500px
	overflow auto
	display flex
	flex-direction: column
	@media mqTablet 
		height auto
.card-action
	margin-top auto	